* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
a {
  text-decoration: none;
  color: red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 70vw;
  margin: 0 auto;
}

.flexContainer {
  display: flex; /* Set to flex to enable flexbox layout */
  justify-content: center; /* Center the children horizontally */
  align-items: center; /* Center the children vertically */
  width: 80vw; /* Set the width as needed */
  /* Add any additional styling as needed */
  border: 1.5px solid red;
  height: 80vh;
}

.mainContainer {
  /* border-radius: 10px; */
  padding: 2vw;
  /* Add dimensions if needed, for example: */

  font-family: "Space Grotesk", sans-serif;
  height: 80%;
}

.mainHead {
  font-size: 5vh;
  color: red;
}

.menuOptions {
  font-size: 2vh;
  padding: 1vw;
}

.menuOptions a:hover {
  text-decoration: underline;
  color: red;
}

.rightSideContainer {
  width: 50%;
  text-align: center;
}

#profile {
  width: 20vw;
}

@media only screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column; /* Stack flex items vertically on small screens */
    align-items: center; /* Center items horizontally since now the flex direction is column */
    height: 80vh;
  }

  .mainContainer,
  .rightSideContainer {
    width: 100%; /* Make each container take full width of the viewport */
    height: auto; /* Make each container take the height it needs */
  }

  #profile {
    width: 60vw; /* Increase the size of the profile picture */
    margin-top: 20px; /* Add some space above the profile picture */
  }
}
